body {
  font-family: verdana;
  color: White;
  background-color: Black;
  text-align: center;
}
h1 {
  font-weight: normal;
  font-size: 50px;
}
h2 {
  font-weight: 300;
  font-size: 42px;
}
.app_link {
  color: Aquamarine;
  font-size: 16px
}
p {
  font-size: 21px;
  color: Gray;
}
.footer {
  text-align: right;
}
